

<div class="row">
  <table class="table" >
    <caption class="lead">My Movie Collection

    <div><label>Search for a movie   <input ng-model="searchText"></label></div>

    </caption>
    <thead>
      <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Actors</th>
        <th>Year Made</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="movie in movies | filter:searchText">
        <td>{{movie.title}}</td>
        <td>{{movie.genre}}</td>
        <td >{{movie.actors}}</td>
        <td>{{movie.year}}</td>
        <td>{{movie.rating}}</td>
        <td><a href="#/edit/{{movie.$id}}" class="btn btn-small btn-primary">Edit</a></td>
        <td><a class="btn btn-small btn-danger" ng-click="removeMovie(movie.$id)">Delete</a></td>

      </tr>
    </tbody>
  </table>
  <p>
      <a href="#/add" class="btn btn-success" role="button">Add New Movie</a>
  </p>


</div>
