

<div class="row">
  <table class="table" >
    <caption class="lead">My Movie Collection</caption>
    <thead>
      <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Actors</th>
        <th>Year Made</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="movie in movies">
        <td>{{movie.title}}</td>
        <td>{{movie.genre}}</td>
        <td>{{movie.actors}}</td>
        <td>{{movie.year | date}}</td>
      <td><a href="#/edit/{{movie.$id}}" class="btn btn-small btn-primary">Edit</a> <a class="btn btn-small btn-danger">Delete</a></td>

      </tr>
    </tbody>
  </table>
  <p>
      <a href="#/add" class="btn btn-success" role="button">Add New Product</a>
  </p>
</div>
